body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f3f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.botones {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    background: #0077cc;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: orangered;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    opacity: 0.08;
    z-index: -1;
}